items:
    AUTHOR
    NAME
    COPYRIGHT
    CREATION DATE
    CHANGELOG
    DESCRIPTION
    EXAMPLE
    FILES
    FUNCTION
    INPUTS
    OUTPUT
    SIDE EFFECTS
    RETURN VALUE
    SEE ALSO
    SYNOPSIS
    USAGE
    USES
    USED BY
    WARNING
    RESTRICTIONS
source items:
    SOURCE
ignore items:
options:
    --src src
    --html
    --masterindex "General Index,index"
    --multidoc
    --sections
    --sectionnameonly
    --index
    --tabsize 2
    --toc
    --nopre
    --documenttitle "BigDFT - API"
    --syntaxcolors
headertypes:
    c "C files"         robo_c
    d "Directories"     robo_directories
    e "Tutorials"       robo_tuto_cat
    f "Routines"        robo_routines
    h "Include files"   robo_includes
    m "Modules"         robo_modules
    p "Programs"        robo_programs
    t "Data structures" robo_types
    u "CUDA files"      robo_cuda
ignore files:
    global.f90
    ChangeLog
    Makefile*
    AUTHORS
    README
    COPYING
    INSTALL
    NEWS
    config
    doc
    tests
    unused
    tmp*
    *.log
    *.o
    *.a
    *.MOD
    *.mod
    *~
    *.htm*
    *.rc
    .svn
    autom4te.cache
accept files:
    *.c
    *.cu
    *.f90
    *.F90
    *.h
    *.inc
    SUBDIRS
header markers:
    !!****
    /****
remark markers:
    !!
    **
end markers:
    !!***
    /****/
source line comments:
    !
keywords:
    if
    do
    enddo
    intent
    integer
    character
    double
    precision
    real
    logical
    subroutine
    function
    end
    type
    optional
    call
    pointer
    null
    contains
    include
    module
    use
    implicit
    none
    parameter
    return
    present
    then
    true
    false
    else
    in
    out
    inout
    private
    public
    dimension
    allocatable
    trim
    len
    and
    or
    not
    read
    write
    iostat
    allocate
    allocated
    associated
    deallocate
    select
    case
    iand
    ior
    program
    __FILE__
    __LINE__
