#This is the configuration file for the BigDFT installer
#This is a python script which is executed by the build suite 
 
#Add the condition testing to run tests and includes PyYaml
conditions.add("testing")
#List the module the this rcfile will build
modules = ['spred',]
#example of the potentialities of the python syntax in this file
def env_configuration():
    return """--enable-opencl FC=mpif90 'FCFLAGS=-O2 -fopenmp' 'CFLAGS=-O2 -fopenmp'"""
#here follow the configuration instructions for the modules built
module_autogenargs.update({
   
'libyaml': env_configuration(),
   
'futile': env_configuration(),
   
'psolver': env_configuration(),
   
'libxc': env_configuration(),
   
'libABINIT': env_configuration(),
   
'GaIn': env_configuration(),
   
'bigdft': env_configuration()+" 'LIBS=-Wl,-rpath="+os.getcwd()+"/install/lib'",
   
'spred': env_configuration(),
   
})

