#This is the configuration file for the BigDFT installer
#This is a python script which is executed by the build suite 
 
#Add the condition testing to run tests and includes PyYaml
conditions.add("testing")
#List the module the this rcfile will build
modules = ['spred',]
#example of the potentialities of the python syntax in this file
def env_configuration():
    return """"FCFLAGS=-O2 -xSSE4.2 -openmp -I/apps/INTEL/composerxe/mkl/include" "--with-ext-linalg=/apps/INTEL/composerxe/mkl/lib/intel64/libmkl_scalapack_lp64.a -Wl,--start-group /apps/INTEL/composerxe/mkl/lib/intel64/libmkl_intel_lp64.a /apps/INTEL/composerxe/mkl/lib/intel64/libmkl_core.a /apps/INTEL/composerxe/mkl/lib/intel64/libmkl_intel_thread.a -Wl,--end-group /apps/INTEL/composerxe/mkl/lib/intel64/libmkl_blacs_openmpi_lp64.a -lpthread -lm" "CC=icc" "FC=mpif90" """
#here follow the configuration instructions for the modules built
module_autogenargs.update({
   
'libyaml': env_configuration(),
   
'futile': env_configuration(),
   
'psolver': env_configuration(),
   
'libxc': env_configuration(),
   
'libABINIT': env_configuration(),
   
'GaIn': env_configuration(),
   
'bigdft': env_configuration(),
   
'spred': env_configuration(),
   
})
