def getcwd():
  import os
  return os.getcwd()

def fcflags():
  return """'FCFLAGS= -g -O3 -qsmp=omp  -qarch=qp -qtune=qp -qcache=auto -qunroll=auto -qfree=f90 -qxlf90=autodealloc -qessl -qstrict -qmaxmem=-1 -qsimd=noauto -qnoipa -qnohot'"""

def libs():
  return """'LIBS=-L. -L/soft/compilers/ibmcmp-feb2013/xlf/bg/14.1/bglib64 -lxlf90_r -lxlopt -lxl  -L/soft/compilers/ibmcmp-feb2013/xlmass/bg/7.3/bglib64 -lmass  -L/soft/compilers/ibmcmp-feb2013/xlsmp/bg/3.1/bglib64 -lxlsmp -lgfortran -lpthread -ldl '"""

def linalg():
  return """'--with-ext-linalg-path=-L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib' '--with-ext-linalg=-L/soft/libraries/alcf/current/xl/LAPACK/lib/ -L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib -llapack -lscalapack -lesslsmpbg -Wl,--allow-multiple-definition ' '--with-blas-path=-L/soft/libraries/essl/current/lib64'"""

modules = ['spred',]

module_autogenargs.update({'libyaml': """'CFLAGS= -g -O3 ' 'CC=xlc' 'CXX=xlcxx' 'CPPFLAGS=-I.'""",
'futile': """'CFLAGS= -I"""+getcwd()+"""/install/include  -g -O3 ' 'CC=mpixlc' 'CXX=mpixlcxx' 'FC=mpixlf90' 'CPPFLAGS=-I.' """+fcflags()+' '+libs(),
'libxc': """'--build=powerpc64-unknown-linux-gnu' """+linaalg()+' '+"""'CFLAGS= -g -O3 ' 'CC=mpixlc' 'CXX=mpixlcxx' 'FC=mpixlf90' """+libs()+""" 'CPPFLAGS=-I.' """+fcflags(),

module_autogenargs['libABINIT']="""'--build=powerpc64-unknown-linux-gnu' '--with-ext-linalg-path=-L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib' '--with-ext-linalg=-L/soft/libraries/alcf/current/xl/LAPACK/lib/ -L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib -llapack -lscalapack -lesslsmpbg -Wl,--allow-multiple-definition ' '--with-blas-path=-L/soft/libraries/essl/current/lib64' 'CFLAGS= -g -O3 ' 'CC=mpixlc' 'CXX=mpixlcxx' 'FC=mpixlf90' 'build_alias=powerpc64-unknown-linux-gnu' 'LIBS=-L. -L/soft/compilers/ibmcmp-feb2013/xlf/bg/14.1/bglib64 -lxlf90_r -lxlopt -lxl  -L/soft/compilers/ibmcmp-feb2013/xlmass/bg/7.3/bglib64 -lmass  -L/soft/compilers/ibmcmp-feb2013/xlsmp/bg/3.1/bglib64 -lxlsmp -lgfortran -lpthread -ldl ' 'CPPFLAGS=-I.' 'FCFLAGS= -g -O3 -qsmp=omp  -qarch=qp -qtune=qp -qcache=auto -qunroll=auto -qfree=f90 -qxlf90=autodealloc -qessl -qstrict -qmaxmem=-1 -qsimd=noauto -qnoipa -qnohot'"""

module_autogenargs['GaIn']="""'--build=powerpc64-unknown-linux-gnu' '--with-ext-linalg-path=-L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib' '--with-ext-linalg=-L/soft/libraries/alcf/current/xl/LAPACK/lib/ -L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib -llapack -lscalapack -lesslsmpbg -Wl,--allow-multiple-definition ' '--with-blas-path=-L/soft/libraries/essl/current/lib64' 'CFLAGS= -g -O3 ' 'CC=mpixlc' 'CXX=mpixlcxx' 'FC=mpixlf90' 'build_alias=powerpc64-unknown-linux-gnu' 'LIBS=-L. -L/soft/compilers/ibmcmp-feb2013/xlf/bg/14.1/bglib64 -lxlf90_r -lxlopt -lxl  -L/soft/compilers/ibmcmp-feb2013/xlmass/bg/7.3/bglib64 -lmass  -L/soft/compilers/ibmcmp-feb2013/xlsmp/bg/3.1/bglib64 -lxlsmp -lgfortran -lpthread -ldl ' 'CPPFLAGS=-I.' 'FCFLAGS= -g -O3 -qsmp=omp  -qarch=qp -qtune=qp -qcache=auto -qunroll=auto -qfree=f90 -qxlf90=autodealloc -qessl -qstrict -qmaxmem=-1 -qsimd=noauto -qnoipa -qnohot'"""

module_autogenargs['bigdft']="""'--build=powerpc64-unknown-linux-gnu' '--with-ext-linalg-path=-L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib' '--with-ext-linalg=-L/soft/libraries/alcf/current/xl/LAPACK/lib/ -L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib -llapack -lscalapack -lesslsmpbg -Wl,--allow-multiple-definition ' '--with-blas-path=-L/soft/libraries/essl/current/lib64' 'CFLAGS= -g -O3 ' 'CC=mpixlc' 'CXX=mpixlcxx' 'FC=mpixlf90' 'build_alias=powerpc64-unknown-linux-gnu' 'LIBS=-L. -L/soft/compilers/ibmcmp-feb2013/xlf/bg/14.1/bglib64 -lxlf90_r -lxlopt -lxl  -L/soft/compilers/ibmcmp-feb2013/xlmass/bg/7.3/bglib64 -lmass  -L/soft/compilers/ibmcmp-feb2013/xlsmp/bg/3.1/bglib64 -lxlsmp -lgfortran -lpthread -ldl ' 'CPPFLAGS=-I.' 'FCFLAGS= -g -O3 -qsmp=omp  -qarch=qp -qtune=qp -qcache=auto -qunroll=auto -qfree=f90 -qxlf90=autodealloc -qessl -qstrict -qmaxmem=-1 -qsimd=noauto -qnoipa -qnohot'"""


def getcwd():
  import os
  return os.getcwd()

modules = ['bigdft',]

module_autogenargs['libyaml']="""'CFLAGS= -g -O3 ' 'CC=xlc' 'CXX=xlcxx' 'CPPFLAGS=-I.'"""

module_autogenargs['flib']="""'CFLAGS= -I"""+getcwd()+"""/install/include  -g -O3 ' 'CC=mpixlc' 'CXX=mpixlcxx' 'FC=mpixlf90' 'CPPFLAGS=-I.' 'FCFLAGS= -g -O3 -qsmp=omp  -qarch=qp -qtune=qp -qcache=auto -qunroll=auto -qfree=f90 -qxlf90=autodealloc -qessl -qstrict -qmaxmem=-1 -qsimd=noauto -qnoipa -qnohot' 'LIBS=-L. -L/soft/compilers/ibmcmp-feb2013/xlf/bg/14.1/bglib64 -lxlf90_r -lxlopt -lxl  -L/soft/compilers/ibmcmp-feb2013/xlmass/bg/7.3/bglib64 -lmass  -L/soft/compilers/ibmcmp-feb2013/xlsmp/bg/3.1/bglib64 -lxlsmp -lgfortran -lpthread -ldl ' """

module_autogenargs['libxc']="""'--build=powerpc64-unknown-linux-gnu' '--with-ext-linalg-path=-L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib' '--with-ext-linalg=-L/soft/libraries/alcf/current/xl/LAPACK/lib/ -L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib -llapack -lscalapack -lesslsmpbg -Wl,--allow-multiple-definition ' '--with-blas-path=-L/soft/libraries/essl/current/lib64' 'CFLAGS= -g -O3 ' 'CC=mpixlc' 'CXX=mpixlcxx' 'FC=mpixlf90' 'build_alias=powerpc64-unknown-linux-gnu' 'LIBS=-L. -L/soft/compilers/ibmcmp-feb2013/xlf/bg/14.1/bglib64 -lxlf90_r -lxlopt -lxl  -L/soft/compilers/ibmcmp-feb2013/xlmass/bg/7.3/bglib64 -lmass  -L/soft/compilers/ibmcmp-feb2013/xlsmp/bg/3.1/bglib64 -lxlsmp -lgfortran -lpthread -ldl ' 'CPPFLAGS=-I.' 'FCFLAGS= -g -O3 -qsmp=omp  -qarch=qp -qtune=qp -qcache=auto -qunroll=auto -qfree=f90 -qxlf90=autodealloc -qessl -qstrict -qmaxmem=-1 -qsimd=noauto -qnoipa -qnohot'"""

module_autogenargs['libABINIT']="""'--build=powerpc64-unknown-linux-gnu' '--with-ext-linalg-path=-L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib' '--with-ext-linalg=-L/soft/libraries/alcf/current/xl/LAPACK/lib/ -L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib -llapack -lscalapack -lesslsmpbg -Wl,--allow-multiple-definition ' '--with-blas-path=-L/soft/libraries/essl/current/lib64' 'CFLAGS= -g -O3 ' 'CC=mpixlc' 'CXX=mpixlcxx' 'FC=mpixlf90' 'build_alias=powerpc64-unknown-linux-gnu' 'LIBS=-L. -L/soft/compilers/ibmcmp-feb2013/xlf/bg/14.1/bglib64 -lxlf90_r -lxlopt -lxl  -L/soft/compilers/ibmcmp-feb2013/xlmass/bg/7.3/bglib64 -lmass  -L/soft/compilers/ibmcmp-feb2013/xlsmp/bg/3.1/bglib64 -lxlsmp -lgfortran -lpthread -ldl ' 'CPPFLAGS=-I.' 'FCFLAGS= -g -O3 -qsmp=omp  -qarch=qp -qtune=qp -qcache=auto -qunroll=auto -qfree=f90 -qxlf90=autodealloc -qessl -qstrict -qmaxmem=-1 -qsimd=noauto -qnoipa -qnohot'"""

module_autogenargs['GaIn']="""'--build=powerpc64-unknown-linux-gnu' '--with-ext-linalg-path=-L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib' '--with-ext-linalg=-L/soft/libraries/alcf/current/xl/LAPACK/lib/ -L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib -llapack -lscalapack -lesslsmpbg -Wl,--allow-multiple-definition ' '--with-blas-path=-L/soft/libraries/essl/current/lib64' 'CFLAGS= -g -O3 ' 'CC=mpixlc' 'CXX=mpixlcxx' 'FC=mpixlf90' 'build_alias=powerpc64-unknown-linux-gnu' 'LIBS=-L. -L/soft/compilers/ibmcmp-feb2013/xlf/bg/14.1/bglib64 -lxlf90_r -lxlopt -lxl  -L/soft/compilers/ibmcmp-feb2013/xlmass/bg/7.3/bglib64 -lmass  -L/soft/compilers/ibmcmp-feb2013/xlsmp/bg/3.1/bglib64 -lxlsmp -lgfortran -lpthread -ldl ' 'CPPFLAGS=-I.' 'FCFLAGS= -g -O3 -qsmp=omp  -qarch=qp -qtune=qp -qcache=auto -qunroll=auto -qfree=f90 -qxlf90=autodealloc -qessl -qstrict -qmaxmem=-1 -qsimd=noauto -qnoipa -qnohot'"""

module_autogenargs['bigdft']="""'--build=powerpc64-unknown-linux-gnu' '--with-ext-linalg-path=-L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib' '--with-ext-linalg=-L/soft/libraries/alcf/current/xl/LAPACK/lib/ -L/soft/libraries/essl/current/lib64 -L/soft/libraries/alcf/current/xl/SCALAPACK/lib -llapack -lscalapack -lesslsmpbg -Wl,--allow-multiple-definition ' '--with-blas-path=-L/soft/libraries/essl/current/lib64' 'CFLAGS= -g -O3 ' 'CC=mpixlc' 'CXX=mpixlcxx' 'FC=mpixlf90' 'build_alias=powerpc64-unknown-linux-gnu' 'LIBS=-L. -L/soft/compilers/ibmcmp-feb2013/xlf/bg/14.1/bglib64 -lxlf90_r -lxlopt -lxl  -L/soft/compilers/ibmcmp-feb2013/xlmass/bg/7.3/bglib64 -lmass  -L/soft/compilers/ibmcmp-feb2013/xlsmp/bg/3.1/bglib64 -lxlsmp -lgfortran -lpthread -ldl ' 'CPPFLAGS=-I.' 'FCFLAGS= -g -O3 -qsmp=omp  -qarch=qp -qtune=qp -qcache=auto -qunroll=auto -qfree=f90 -qxlf90=autodealloc -qessl -qstrict -qmaxmem=-1 -qsimd=noauto -qnoipa -qnohot'"""