#Configuration file for occigen (CINES, France) 12/02/2016
#module load intel intelmpi mkl python

#Add the condition testing to run tests and so needs PyYaml
conditions.add("testing")

modules = ['bigdft',]

module_autogenargs['libyaml']='''FC=mpif90 FCFLAGS="-O2 -openmp" -with-ext-linalg="-mkl=parallel"'''

module_autogenargs['flib']='''FC=mpif90 FCFLAGS="-O2 -openmp" -with-ext-linalg="-mkl=parallel"'''

module_autogenargs['libxc']='''FC=mpif90 FCFLAGS="-O2 -openmp" -with-ext-linalg="-mkl=parallel"'''

module_autogenargs['libABINIT']='''FC=mpif90 FCFLAGS="-O2 -openmp" -with-ext-linalg="-mkl=parallel"'''

module_autogenargs['GaIn']='''FC=mpif90 FCFLAGS="-O2 -openmp" -with-ext-linalg="-mkl=parallel"'''

module_autogenargs['bigdft']='''FC=mpif90 FCFLAGS="-O2 -openmp" -with-ext-linalg="-mkl=parallel"'''
