#Configuration file for occigen (CINES, France) 12/02/2016
#module load intel intelmpi mkl python cmake

#Add the condition testing to run tests and includes PyYaml
conditions.add("testing")

modules = ['bigdft',]

module_autogenargs['libyaml']='''FC=mpif90 FCFLAGS="-O2 -qopenmp"'''

module_autogenargs['futile']='''FC=mpif90 FCFLAGS="-O2 -qopenmp" -with-ext-linalg="-mkl=parallel"'''

module_autogenargs['libxc']='''FC=mpif90 FCFLAGS="-O2 -qopenmp"'''

module_autogenargs['libABINIT']='''FC=mpif90 FCFLAGS="-O2 -qopenmp"'''

module_autogenargs['GaIn']='''FC=mpif90 FCFLAGS="-O2 -qopenmp"'''

module_autogenargs['psolver']='''FC=mpif90 FCFLAGS="-O2 -qopenmp" -with-ext-linalg="-mkl=parallel"'''

module_autogenargs['chess']='''FC=mpif90 FCFLAGS="-O2 -qopenmp" -with-ext-linalg="-mkl=parallel"'''

module_autogenargs['bigdft']='''FC=mpif90 FCFLAGS="-O2 -qopenmp" -with-ext-linalg="-mkl=parallel"'''
