conditions.add("testing")

#build_policy = "all"

# List of modules to be built by default
modules = ['bigdft',]

# Specific configure arguments for each module
module_autogenargs['libxc'] = "CC=gcc"

module_autogenargs['futile'] = "FC=mpixlf90_r FCFLAGS='-g -O2 -qsuffix=cpp=F90 -qxlf90=autodealloc -qessl -qsmp=omp -qtune=450 -qnoipa -qnohot -qstrict' CC=gcc --without-gobject --with-ext-linalg=' '"
module_autogenargs['psolver'] = "FC=mpixlf90_r FCFLAGS='-g -O2 -qsuffix=cpp=F90 -qxlf90=autodealloc -qessl -qsmp=omp -qtune=450 -qnoipa -qnohot -qstrict' CC=gcc --with-ext-linalg=' '"
module_autogenargs['bigdft'] = "FC=mpixlf90_r FCFLAGS='-g -O2 -qsuffix=cpp=F90 -qxlf90=autodealloc -qessl -qsmp=omp -qtune=450 -qnoipa -qnohot -qstrict' CC=gcc --without-gobject --with-ext-linalg=' '"

module_autogenargs['libABINIT'] = "FC=mpixlf90_r"
module_autogenargs['GaIn'] = "FC=mpixlf90_r"
