body
{
  margin:0px;
  margin-bottom:20px;
  padding:0px;
  background-color:#e5e5e5;
  padding-left:50px;
  padding-right:50px;
  color:black;
  text-align:justify;
  font-family:sans;
}
p
{ 
  text-indent:20px;
  text-align:justify;
  margin-top:10px;
  margin-bottom:15px;
  padding-left:10px;
}
p.remarqueImportante
{ 
  color:#D05050;
  font-weight:bold;
  font-size:120%;
}
a
{ 
  color:#505050;
  text-decoration:underline;
}
a:hover
{ 
  color:#8f8f8f;
  text-decoration:none;
}
a.broken
{ 
  cursor:help;
  color:#BfBfBf;
  text-decoration:none;
}
a.external
{ 
  padding-right:12px;
  background-image:url('../images/external.png');
  background-repeat:no-repeat;
  background-position:center right;
}
acronym
{ 
  cursor:help;
}
h1
{ 
  font-size:150%;
  margin-bottom:5px;
  color:#303030;
  clear:left;
  text-align:left;
}
h2
{ 
  font-size:120%;
  color:#8f8f8f;
  clear:left;
}
h3
{
  font-size:110%;
  color:#303030;
  clear:left;
}
ul
{
  margin-top:3px;
  margin-bottom:3px;
}
ol
{
  margin-top:3px;
  margin-bottom:3px;
}
span.langInfo
{
  font-size:75%;
  vertical-align:super;
}

button
{ 
  border:1px black solid;
  background-color:#F5F5F5;
}
button:hover
{ 
  border:1px grey solid;
  background-color:#FFD1BA;
}

div.main
{ 
  background-color:#FFFFFF;
  padding:5px;
  padding-right:25px;
  padding-left:150px;
  padding-bottom:20px;
/*  background-image:url('../images/diffusion_interne.png'); */
/*  background-repeat:repeat-y; */
/*  background-position:top center; */
}
div.mainnews
{ 
  background-color:#FFFFFF;
  padding:5px;
  padding-right:17em;
  padding-left:150px;
  padding-bottom:20px;
}
div.main img
{ 
  /* border:1px solid #8f8f8f; */
  margin:0px;
  background-color:#f0f0f0;
}
div.main div.figure
{ 
  font-family:sans;
  text-align:center;
  margin:5px;
  font-size:80%;
  float:left;
  width:45%;
}
div.main div.figure img
{ 
  /* border:1px solid #8f8f8f; */
  margin-bottom: 2px;
/* display:block; */
}
div.main li
{ 
  padding-bottom:3px;
}
div.main div.image
{ 
  float:left;
  padding:10px;
}
a.ontop
{ 
  font-size:small;
  margin-left:20px;
  font-weight:normal;
  font-style:italic;
  float:right;
}
div.main img.icon
{ 
  border:0px;
  display:inline;
  padding:0px;
  margin:0px;
  margin-right:2px;
}

/***************/
/* CSS du menu */
/***************/
div.menu
{
  position:absolute;
  top:85px;
  left:35px;
  width:150px;
}
div.menu div.menuMain
{
  text-align:left;
}
img.rss
{ 
  float:right;
  display:inline;
}
div.submenu
{
  background-color:#E9E9E9;
  clear:both;
  margin-top:0px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:150px;
  border-bottom:1px #8f8f8f solid;
}
div.submenu h3
{ 
  font-weight:bold;
  color:#808080;
  font-size:100%;
  padding:0px;
  margin:0px;
  display:inline;
}
div.personalarea
{
  background-color:#E9E9E9;
  clear:both;
  margin-top:0px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:150px;
  border-top:1px #8f8f8f solid;
}

div.quicknews
{
  float:right;
  width:13em;
  padding:1em;
  margin-left:2em;
  margin-bottom:2em;
}
div.quicknews h2
{ 
  text-align:center;
  color:#303030;
  padding:0px;
  margin:0px;
  margin-bottom:1em;
  border-bottom:1px #808080 solid;
}
div.quicknews h3
{ 
  font-weight:bold;
  color:#808080;
  font-size:100%;
  padding:0px;
  margin:0px;
  margin-top:1em;
}
div.quicknews p
{ 
  font-size:90%;
  margin:0px;
  padding:0px;
  text-indent:0px;
}
div.quicknews ul
{
  list-style:square;
  list-style-position:inside;
  padding-left:0px;
}
div.quicknews li.subsection
{
  list-style:disk;
  list-style-position:inside;
  padding-left:1em;
}

/*****************/
/* CSS du header */
/*****************/
div.visuLogo
{ 
  float:right;
  border-width:0px;
}
div.visuLogo img
{
  display:block;
  margin:10px;
  margin-right:1em;
}
div#main.header
{
  height:100px;
}
div.header img
{
  display:block;
}
div.header span.part
{
  margin:0px;
  margin-top:0.25em;
  margin-left:0.5em;
  padding:0px;
  padding-right:1.5em;
  font-family:sans;
  font-size:250%;
  font-variant:small-caps;
  font-style:italic;
  font-weight:bold;
  letter-spacing:0.3em;
}
div.visuInfoLogo
{ 
  float:right;
  text-align:right;
}
div.visuInfoLogo input
{
  font-size:smaller;
}
div.visuInfoLogo ul
{ 
  list-style:square;
  list-style-position:inside;
}

div.title {
        font-size:150%;
}

div.version
{ 
  position:absolute;
  top:80px;
  right:157px;
  font-size:80%;
  margin-right:15px;
  margin-bottom:5px;
}

div.error
{
  text-align:center;
  text-size:120%;
  color:red;
  margin-top:20px;
  margin-bottom:20px;
}

span.warn
{
  color:red;
}



/****************/
/* CSS des news */
/****************/
div.news
{ 
  margin:10px;
  margin-left:15px;
  margin-right:0px;
  padding:5px;
  border-left:1px solid #8f8f8f;
  border-bottom:1px solid #8f8f8f;
  background-color:#F5F5F5;
}
div.newsInfos
{ 
  text-align:right;
  font-size:75%;
  margin:0px;
  margin-right:30px;
}
div.news p
{ 
  padding-left:0px;
}
div.news img
{ 
  float:right;
  border:1px solid #8f8f8f;
  margin:5px;
  background-color:#b0b0b0;
}
div.news h2
{ 
  margin-top:0px;
  margin-bottom:0px;
}
hr.newsending
{ 
  clear:both;
  width:75px;
  height:0px;
  border-width:0px;
  border-top:1px solid #8f8f8f;
}
div.mainnews hr.newsending
{ 
  clear:left;
}


/************/
/* Tableaux */
/************/
table
{ 
  border:0px;
  border-top:3px solid #8f8f8f;
  border-spacing:0px;
  background-color:#f5f5f5;
}
div.news table
{
  margin-left:5em;
  margin-right:5em;
}
td
{ 
  border:0px;
  border-bottom:1px solid #8f8f8f;
  padding:1px;
  vertical-align:center;
}
th
{ 
  border:0px;
  padding:5px;
  padding-right:15px;
  background-color:#f0f0f0;
  text-align:right;
  font-size:110%;
  color:#8f8f8f;
}
table h2
{ 
  margin-top:0px;
}
table h3
{ 
  font-weight:bold;
  color:#808080;
  font-size:100%;
  padding-left:3px;
  padding-top:5px;
  padding-bottom:5px;
  margin:0px;
}
table tr.obsolete
{
  background-color:#e0e0e0;
  color:#808080;
}
table td.tdversion
{
  width:10em;
  font-size:smaller;
  background-color:#fafafa;
  border-left: 1px solid #8f8f8f;
}
table tr.obsolete td.tdversion
{
  background-color:#e0e0e0;
}
table td.tdname
{
  width:15em;
  background-color:#fafafa;
  border-right: 1px solid #8f8f8f;
}
table tr.obsolete td.tdname
{
  background-color:#e0e0e0;
}
table table
{
  border:0px;
  border-top:2px solid #8f8f8f;
  border-spacing:0px;
}
table table th
{
  border:0px;
  padding:2px;
  padding-right:5px;
  background-color:#d0d0d0;
  text-align:left;
  font-size:100%;
  color:#5f5f5f;
}
table table td
{
  background-color:#e0e0e0;
}


/*****************/
/* Developpement */
/*****************/
table.todo
{ 
  margin-right:40px;
  margin-left:40px;
}
table.todo td.etatTODO_OK
{ 
  width:10px;
  vertical-align:middle;
  text-align:center;
  background-color:#9BEBB7;
}
table.todo td.etatTODO_enCours
{ 
  width:10px;
  vertical-align:middle;
  text-align:center;
  background-color:#FFF098;
}
table.todo td.etatTODO_projet
{ 
  width:10px;
  vertical-align:middle;
  text-align:center;
  background-color:#EB9BA0;
}
span.type_capability
{
  font-family:monospace;
  color:#D05050;
  font-size:smaller;
}
span.type_fileFormat
{
  font-family:monospace;
  color:#A03030;
  font-size:smaller;
}
span.type_interface
{
  font-family:monospace;
  color:#701010;
  font-size:smaller;
}


/********/
/* Bugs */
/********/
.ouvert
{ 
  background-color:#EB9BA0;
}
div.ouvert
{ 
  text-align:center;
  margin-bottom:5px;
  font-weight:bold;
}
.connu
{ 
  background-color:#FFF098;
}
div.connu
{ 
  text-align:center;
  margin-bottom:5px;
  font-weight:bold;
}
.fermé
{ 
  background-color:#9BEBB7;
}
div.fermé
{ 
  text-align:center;
  margin-bottom:5px;
  font-weight:bold;
}
.requète
{ 
  background-color:#98D4FF;
}
div.requète
{ 
  text-align:center;
  margin-bottom:5px;
  font-weight:bold;
}
div.bugInfo
{ 
  font-size:90%;
  margin-bottom:5px;
}
div.bugVersion
{ 
  font-size:90%;
  float:right;
  margin-bottom:5px;
}
td.bugDescription
{ 
  vertical-align:top;
  background-color:#ffffff;
  border-right:1px solid #D0D0D0;
  border-left:1px solid #D0D0D0;
}
td.bugRightColumn
{ 
  vertical-align:top;
  text-align:right;
  width:15%;
}
td.bugLeftColumn
{ 
  vertical-align:top;
  text-align:left;
  width:15%;
}
table input[type=text]
{
  width:100%;
}
table textarea
{
  width:100%;
}
div.submit
{
  text-align:right;
  padding-right:25px;
  padding-top:5px;
}
table.buglist td
{
  padding:2px;
}

div.floatingmenu h3
{ 
  font-weight:bold;
  color:#808080;
  font-size:100%;
  padding:0px;
  margin:0px;
  display:inline;
}
div.floatingmenu
{
  float:right;
  padding-left:1em;
  padding-right:1em;
  margin-top:20px;
  margin-left:20px;
  margin-bottom:10px;
}
div.floatingmenu ul
{
  list-style:square;
  list-style-position:inside;
  color:grey;
  padding-left:0px;
}
div.floatingmenu li.subsection
{
  list-style:disk;
  list-style-position:inside;
  color:grey;
  padding-left:1em;
}

/***********************/
/* CSS du pied de page */
/***********************/
div.footer
{ 
  clear:both;
}
div.footer div.language
{
  margin:0px;
  padding:0px;
  float:right;
  padding-right:20px;
  padding-left:20px;
  padding-bottom:10px;
}
